<!doctype html>
<html class="no-js" lang="de">
	<head>
    {{> meta }}
    {{> styles }}
	</head>
	<body>
		{{> header impressum=true }}
    {{> content }}
    {{> footer }}
    {{> scripts }}
	</body>
</html>

