.stage {
	overflow: hidden;
	margin-bottom: 20px;
  color: white;
  background: rgb(29,58,82);
  background: linear-gradient(45deg, rgba(29,58,82,1) 0%, rgba(34,99,153,1) 60%);

	@media (min-width: 1024px) {
		position: relative;
		margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 50vh;

    .img-container {
      width: 70%;
      height: 100%;
      border-left: 5px #fff solid;

    }
	}

	img {
		width: 100%;
		display: block;

		@media (min-width: 1024px) {
      height: 100%;
      object-fit: cover;
      object-position: center;

      /* fixes blurry downscaled images in Chrome on Mac */
      //image-rendering: -webkit-optimize-contrast;
		}
	}

  h1 {
    display: none;

    @media (min-width: 1024px) {
      width: 30%;
      display: block;
      margin: 0;
      padding: 2%;
      font-size: 36px;
      line-height: 48px;
      font-weight: normal;
    }

    @media (min-width: 1200px) {
      font-size: 48px;
      line-height: 62px;
    }
  }
}
