.stage {
	overflow: hidden;
	margin-bottom: 20px;
  color: white;
  background: rgb(29,58,82);
  background: linear-gradient(45deg, rgba(29,58,82,1) 0%, rgba(34,99,153,1) 60%);

	@media (min-width: 1024px) {
		position: relative;
		margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
	}

	img {
		width: 100%;
		display: block;

		@media (min-width: 1024px) {
      width: 60%;
      border-left: 5px #fff solid;

      /* fixes blurry downscaled images in Chrome on Mac */
      image-rendering: -webkit-optimize-contrast;
		}
	}

  h1 {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      margin-bottom: 50px;
      margin-left: 50px;
      font-size: 36px;
      line-height: 48px;
      font-weight: normal;
    }

    @media (min-width: 1200px) {
      font-size: 42px;
      line-height: 56px;
    }
  }
}
